@font-face {
    font-family: "PixelCode";
    src: url('../fonts/ONESIZE_.TTF');
    font-display: swap;
}

@font-face {
    font-family: "Pixel";
    src: url('../fonts/Minecraft-Regular.otf');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pixel";
    src: url('../fonts/Minecraft-Bold.otf');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Pixel";
    src: url('../fonts/Minecraft-Italic.otf');
    font-style: italic;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pixel";
    src: url('../fonts/Minecraft-BoldItalic.otf');
    font-style: italic;
    font-weight: bold;
    font-display: swap;
}

:root {
    /*--font-family: "Pixel";
    --code-font-family: "PixelCode"; */
    --font-family: "Helvetica Neue", sans-serif;
    --color-primary: #53a788;
    --color-primary-hover: #cbffd8;
    --color-primary-visit: #53a788;
    --color-secondary: #e4a672;
    --color-secondary-hover: #c28569;
    --color-secondary-visit: #e8b796;
    --color-accent: #53a788;
    --color-accent-hover: #cbffd8;
    --color-accent-visit: #53a788;
    --color-success: #3e8948;
    --color-success-hover: #265c42;
    --color-success-visit: #63c74d;
    --color-warning: #feae34;
    --color-warning-hover: #f77622;
    --color-warning-visit: #fee761;
    --color-error: #e43b44;
    --color-error-hover: #a22633;
    --color-error-visit: #ff0044;
    --color-gray: #5a6988;
    --color-gray-light: #53a788;
    --color-gray-dark: #8b9bb4;
    --color-dark: #b8b5b9;
    --color-dark-bg: #53a788;
    --color-light: #181c28;
    --color-light-bg: #2ce8f5;
    --profile-src: url("../images/avatar.png");
}

[data-theme='pixel'] {
    --font-family: "Helvetica Neue", sans-serif;
    --code-font-family: Courier, monospace;
    --color-primary: #5c6bc0;
    --color-primary-hover: #7986cb;
    --color-primary-visit: #5c6bc0;
    --color-secondary: #c5cae9;
    --color-secondary-hover: #7986cb;
    --color-secondary-visit: #e8eaf6;
    --color-accent: #5c6bc0;
    --color-accent-hover: #7986cb;
    --color-accent-visit: #5c6bc0;
    --color-success: #4caf50;
    --color-success-hover: #388e3c;
    --color-success-visit: #66bb6a;
    --color-warning: #ffc107;
    --color-warning-hover: #ffa000;
    --color-warning-visit: #ffca28;
    --color-error: #ff5722;
    --color-error-hover: #e64a19;
    --color-error-visit: #ff7043;
    --color-gray: #bdbdbd;
    --color-gray-light: #5c6bc0;
    --color-gray-dark: #757575;
    --color-dark: #000;
    --color-dark-bg: #5061c0;
    --color-light: #fff;
    --color-light-bg: #f2f2f2;
    --profile-src: url("../images/pixel.png");
}

.pixel {
    font-family: "Pixel";
}

.shadow {
    box-shadow: .2rem .2rem .5rem rgba(87, 85, 217, .2);
}

.avatar.avatar-profile {
    height: 150px;
    width: 150px;
}

#profile {
    background: var(--profile-src);
    background-size: cover;
}

.symbol {
    display: inline-block;
    color: var(--color-gray-light);
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 0.5rem;
    padding: 0.5rem 0;
}

.symbol:hover {
    text-decoration: underline;
    color: var(--color-accent);
}

.mt-space {
    margin-top: 6rem!important;
}

.mx-gap {
    margin-left: 2rem!important;
    margin-right: 2rem!important;
}

.my-gap {
    margin-top: 2rem!important;
    margin-bottom: 2rem!important;
}